<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Journal</title>
    <script src="https://cdn.tailwindcss.com"></script>
   
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src="https://kit.fontawesome.com/a59b9b09ab.js" crossorigin="anonymous"></script>
</head>
<style>
    #redbutton:hover
    {
        background-color: #f02525;
        border:hidden;
        color: black;
    }
    #greenbutton:hover
    {
        background-color: rgb(58, 233, 23);
        border:hidden;
        color: black;
    }
    #signup:hover
    {
        color: white;
    }

    #head,#second
    {
        background-color:rgb(25, 25, 25);
    }

   #card:hover
   {
    background-color:rgb(25, 25, 25) ;
   }



</style>
<body>
    <div class="wrapper  overflow-x-hidden overflow-y-scroll w-[100vw] h-[100vh]">

        <nav class="header  flex gap-80  h-24 items-center sticky  top-0 left-0 w-full  z-20 " id="head">  

            <!--Logo Image-->
            <img src="nav_image.png" alt="logo" class="logo w-28 ">
    
            <!--Nav Bar-->
        
                <ul class="navbar-list flex gap-20 ml-6">
                    
                    <li class="text-white  font-bold  text-xl font-mullish py-11 hover:text-red-600 cursor-pointer  transition-all duration-200 relative group lg:block">
                        <a href="#">Home</a>
                        <div class=" absolute w-full h-1 bg-red-600 mt-3 transition-all duration-200 hidden group-hover:block"></div>
                    </li>
                    <li class="text-white   font-bold  text-xl font-mullish py-11 hover:text-red-600 cursor-pointer  transition-all duration-200 relative group lg:block">
                        <a href="#" >About</a>
                        <div class=" absolute w-full h-1 bg-red-600 mt-3 transition-all duration-200 hidden group-hover:block"></div>
                    </li>
                    <li class="text-white  font-bold  text-xl font-mullish py-11 hover:text-red-600 cursor-pointer  transition-all duration-200 relative group lg:block">
                        <a href="#">Services</a>
                        <div class=" absolute w-full h-1 bg-red-600 mt-3 transition-all duration-200 hidden group-hover:block"></div>
                    </li>
                    <li class="text-white  font-bold  text-xl font-mullish py-11 hover:text-red-600 cursor-pointer  transition-all duration-200 relative group lg:block">
                        <a href="#">Contact Us</a>
                        <div class=" absolute w-full h-1 bg-red-600 mt-3 transition-all duration-200 hidden group-hover:block"></div>
                    </li>
                    
                    <!--Login and Signup-->
                    <div class="flex gap-12 ml-[16rem]">
                        
                        <button class="  font-mullish py-3 px-5 my-9   text-xl font-bold border-2 border-white bg-black rounded-xl text-white   transition-all duration-200"  id="redbutton" >Log In</button>
                        <button class="  font-mullish py-3 px-5 my-9 border-2 border-white text-xl  font-bold text-white  rounded-xl  hidden lg:block transition-all duration-200 " id="greenbutton">Sign Up</button>

                    </div>


                </ul>


        </nav>

        <!--Main Section-->
        <div class="Main" id="second">

            <section class=" py-32 ">
                <div class="flex flex-col justify-between mx-auto items-center w-10/12 lg:flex-row ">
                    <!--LEFT part-->
                    <div class="space-y-8 ">
        
                        <h1 class="text-white font-mullish font-bold  text-[45px] leading-[1.2]">Trading Made Easy,<br>with <span class="text-red-700">Trading</span> <span class="text-green-600">Journal</span>.</h1>
                        <div class="w-6 h-1 bg-red-600 m-2"></div>
                        <p class=" text-white text-xl font-sans leading-10">
                            Your ultimate destination for intelligent and efficient trading! <br>
                            Experts or beginners, our platform enhances every trading journey for all.<br> 
                            <span class="text-white opacity-100 font-bold">Welcome to a Smarter Way to Trade</span>
                        </p>
                        <button class="bg-red-600 py-[18px] px-[15px] text-black font-bold text-xl rounded-md font-mullish hover:bg-green-500   transition-all duration-200 " id="signup">Sign Up Now</button>
                    </div>            
                    <!--RIGHT part-->
                    <img src="hero-banner.png" class=" w-full max-w-[680px]">
        
                </div>
            </section>
        </div>


        <!--Core FEATURE-->
        <div class="feature  -z-40" id="features">

            <section class="w-[100%] max-w-[1080px]   mx-auto pt-4 -z-20">
                <div class=" w-full grid grid-cols-3  grid-rows-2 gap-y-16 gap-x-20 py-10  h-fit pt-20">
                   
                    <!--side head-->
                      <h2 class="font-mullish text-black font-extrabold text-deepBlueHead my-auto text-4xl leading-[3.375rem]  z-[5]">Why You Shoud  Choose US ? </h2>
                    <!--cards div-->
                    <!--CARD 1-->
    
                    <div class=" p-6  rounded-xl  flex-col bg-white border-4 border-black w-full max-h-[300px] cursor-pointer bg-cover bg-no-repeat hover:scale-105  transition-all duration-200 group " id="card">
                        <i class="fa-solid fa-chart-line group-hover:hidden "></i>
                        <h3 class="font-mullish font-bold text-black text-xl pt-4 group-hover:text-red-600">Smart Analytics</h3>
                        <p class="font-mullish text-grayText text-xl font-bold leading-normal  py-3 group-hover:text-white ">Dive into your trading performance with charts and metrics powered by AI.</p>
                        <!--HYPERLINK-->
                        <div class="flex felx-row gap-x-2 items-center group">
                            <a href="#" class="font-mullish text-lightBlue500  font-bold text-2xl group-hover:text-green-600 transition-all duration-200">Know More</a>
                            <i class="fa-solid fa-angles-right"></i>
                        
                        </div>
                    </div>
                    
                   
                   
                    <!--CARD 2-->

                    <div class=" border-4 border-black  rounded-xl  flex-col bg-white p-6 shadow w-full max-h-[300px] cursor-pointer bg-cover bg-no-repeat hover:scale-105  transition-all duration-200 group " id="card">
                        <i class="fa-regular fa-clock group-hover:hidden "></i>
                        <h3 class="font-mullish font-bold text-black text-xl pt-4 group-hover:text-red-600">Real-Time Data</h3>
                        <p class="font-mullish text-grayText text-xl font-bold leading-normal  py-3 group-hover:text-white ">Get up-to-the-minute market data to stay ahead of the curve.</p>
                        <!--HYPERLINK-->
                        <div class="flex felx-row gap-x-2 items-center group">
                            <a href="#" class="font-mullish text-lightBlue500  font-bold text-2xl group-hover:text-green-600 transition-all duration-200">Know More</a>
                            <i class="fa-solid fa-angles-right"></i>
                        
                        </div>
                    </div>
                  
                    <!--CARD 3-->

                    <div class=" border-black border-4  rounded-xl  flex-col bg-white p-6 shadow w-full max-h-[300px] cursor-pointer bg-cover bg-no-repeat hover:scale-105  transition-all duration-200 group " id="card">
                        <i class="fa-solid fa-book group-hover:hidden" style="height: 20px;"></i>
                        <h3 class="font-mullish font-bold text-black text-xl pt-4 group-hover:text-red-600">Journaling Made Easy</h3>
                        <p class="font-mullish text-grayText text-xl font-bold leading-normal  py-3 group-hover:text-white ">Log your trades with a user-friendly interface and review your history anytime.</p>
                        <!--HYPERLINK-->
                        <div class="flex felx-row gap-x-2 items-center group">
                            <a href="#" class="font-mullish text-lightBlue500  font-bold text-2xl group-hover:text-green-600 transition-all duration-200">Know More</a>
                            <i class="fa-solid fa-angles-right"></i>
                        
                        </div>
                    </div>
                  
                    <!--CARD 4-->

                    <div class=" border-black border-4  rounded-xl  flex-col bg-white p-6 shadow w-full max-h-[300px] cursor-pointer bg-cover bg-no-repeat hover:scale-105  transition-all duration-200 group " id="card" >
                        <i class="fa-solid fa-mobile group-hover:hidden "></i>
                        <h3 class="font-mullish font-bold text-black text-xl pt-4 group-hover:text-red-600">Mobile Access</h3>
                        <p class="font-mullish text-grayText text-xl font-bold leading-normal  py-3 group-hover:text-white ">Monitor your portfolio on the go with our fully integrated mobile app</p>
                        <!--HYPERLINK-->
                        <div class="flex felx-row gap-x-2 items-center group">
                            <a href="#" class="font-mullish text-lightBlue500  font-bold text-2xl group-hover:text-green-600 transition-all duration-200">Know More</a>
                            <i class="fa-solid fa-angles-right"></i>
                        
                        </div>
                    </div>
                   
                   
                    <!--CARD 5-->

                    <div class=" border-black border-4  rounded-xl  flex-col bg-white p-6 shadow w-full max-h-[300px] cursor-pointer bg-cover bg-no-repeat hover:scale-105  transition-all duration-200 group " id="card" >
                        <i class="fa-solid fa-lock group-hover:hidden "></i>
                        <h3 class="font-mullish font-bold text-black text-xl pt-4 group-hover:text-red-600">Secure & Private</h3>
                        <p class="font-mullish text-grayText text-xl font-bold leading-normal  py-3 group-hover:text-white ">Your data is encrypted and kept private at all times.</p>
                        <!--HYPERLINK-->
                        <div class="flex felx-row gap-x-2 items-center group">
                            <a href="#" class="font-mullish text-lightBlue500  font-bold text-2xl group-hover:text-green-600 transition-all duration-200">Know More</a>
                            <i class="fa-solid fa-angles-right"></i>
                        
                        </div>
                    </div>
        
            </section>
      
        </div>
        
        <!-- FOOTER -->
        <footer class=" foot flex flex-row justify-around border-t-4 border-b-4 border-black bg-black ">

            <div class="info flex flex-col gap-5 py-8 ">
                <h3 class="font-serif font-bold  text-2xl text-white">Trading Journal</h3>
                <p class="w-80 font-sans text-white text-lg ">At Trading Ledger, our mission is to empower our clients with the most accurate and up-to-date information on their stock portfolio. We are committed to providing the best possible service to our clients, and our AI-powered platform enables us to achieve this goal.</p>
            </div>

            <div class="info flex flex-col gap-5 py-8">
                <h3 class="font-serif font-bold text-white text-2xl">Quick Links</h3>
              <ul class=" flex flex-col  gap-3  text-white">
                <li><a class=" font-sans text-xl cursor-pointer " href=""> About </a></li>
                <li><a class=" font-sans text-xl cursor-pointer " href=""> Services </a></li>
                <li><a class=" font-sans text-xl cursor-pointer " href=" "> Contact Us </a></li>
              </ul>
            </div>

            <div class="info flex flex-col gap-5 py-8">
                <span class="font-serif font-bold text-2xl text-white"> Contact Us</span>
                <a class="font-sans text-white text-xl" href="">tradingjournal@gmail.com</a>
                <div class="icons flex flex-row gap-3">
                    <i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-square-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>

            

        </footer>
    </div>

</body>
</html>