a.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34; /* Consider a lighter color if you want to soften the look */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb; /* You may want to choose a less bright color for a softer look */
}

ul {
  list-style: none;
}

li {
  margin: 1em;
}

.buttons,
.buttons > * {
  margin: 1em;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: #ecf0f1; /* Soften the background color if needed */
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background-color: white;
  padding: 40px;
  border-radius: 15px; /* Smooth, rounded borders */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  width: 350px; /* Adjusted width for better proportion */
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

/* Style for input fields */
input {
  width: calc(100% - 20px);
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px; /* Less rounded borders for input fields */
  border: 1px solid #ccc; /* Lighter border for inputs */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Inner shadow for depth */
  box-sizing: border-box;
}

/* Hover and focus states for inputs */
input:hover, input:focus {
  border-color: #3498db; /* Highlight color */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* Deeper shadow for focus */
}

/* Style for buttons */
button {
  background-color: #3498db; /* Button color */
  color: white;
  border: none;
  border-radius: 5px; /* Less rounded borders for buttons */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: calc(100% - 20px); /* Full-width buttons */
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for buttons */
}

button:hover {
  background-color: #2980b9; /* Darker shade on hover */
}

/* Links for sign up and forgot password */
.login-container a {
  display: block;
  margin-top: 10px;
  color: #3498db;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}

.sign-out-btn {
  margin-left: auto; /* Pushes the button to the right */
  padding: 5px 15px;
  background-color: #d9534f; /* Bootstrap's btn-danger background color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
}
