@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.logo {
  width: 112px; /* Adjust as needed for your layout */
  height: auto; /* Keeps the aspect ratio of the image */
  margin-bottom: 10px; /* Adjust margin as needed */
  padding: 10px; /* Adds some space around the logo */
  transition: transform 0.3s ease; /* Smooth transition for hover effects */
}

.logo:hover {
  transform: scale(1.05); /* Slightly enlarges the logo on hover */
}

.loginStyle {
  background-color: #ffffff;
  padding: 7px 16px 9px;
  color: black;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Jura";
  font-weight: 600;
}

.home-section-main {
  display: flex;
  color: #ffffff;
  position: relative;
  padding-left: 5rem;
  overflow: hidden;

}

.gradientText {
  background: linear-gradient(45deg, #ff4d4c, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 300px) and (max-width: 600px) {
  /* Tailwind 'lg' breakpoint */

  .logo {
    width: 50px; /* Adjust as needed for your layout */
    height: auto; /* Keeps the aspect ratio of the image */
    margin-bottom: 5px; /* Adjust margin as needed */
    padding: 0px; /* Adds some space around the logo */
    transition: transform 0.3s ease; /* Smooth transition for hover effects */
  }

  .loginStyle {
    padding: 5px;
    color: black;
    font-size: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
    font-family: "inika";
  }

  .home-section-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 0rem;
  }
}
