.abous-us-page {
  padding: 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.about-us-section {
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-us-section > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-us-section .image-box {
  width: 50%;
  flex-shrink: 0;
}

.about-us-section .image-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  max-width: 450px;
  margin: 0 auto;
}

.about-us-section .content-box {
  flex: 1;
  padding-left: 2rem;
  color: #fff;
  font-size: 24px;
}

.about-us-first-content .content-box {
  padding-left: 2rem;
}

.about-us-second-content .content-box {
  order: -1;
  padding-right: 2rem;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .abous-us-page {
    padding: 1rem; /* Reduced padding for smaller screens */
  }

  .about-us-section {
    flex-direction: column; /* Stack elements vertically */
    align-items: stretch; /* Stretch items to take full width */
    padding: 0.5rem 0; /* Reduced vertical padding */
  }

  .about-us-section:first-child {
    padding-bottom: 0;
  }

  .about-us-section > div {
    flex-direction: column; /* Ensure divs inside sections also stack vertically */
  }

  .about-us-section .image-box,
  .about-us-section .content-box {
    width: 100%; /* Full width for smaller screens */
    padding: 0; /* Remove padding for a tighter fit */
  }

  .about-us-section .content-box {
    padding: 1rem 1rem; /* Uniform padding for readability */
    font-size: 16px; /* Slightly larger font for better readability on small devices */
  }

  .about-us-section .image-box {
    margin-bottom: 16px;
  }

  .about-us-first-content .content-box,
  .about-us-second-content .content-box {
    padding: 1rem; /* Consistent padding */
    text-align: justify;
  }

  .about-us-second-content .content-box {
    order: 1; /* Reset order to default for mobile */
  }
}
